{% extends 'base.html' %}

{% block title_block %}
    <title>Post detail</title>
{% endblock %}

{% block body_block %}
    <h1> Title :  {{ post.title }}</h1>
    <h6> Author : {{ post.author }}</h6>    
    <h4> Text </h4>
    <h6> {{post.text}}</h6>



    {% if post.published_date %}
        <p> Published Date {{post.published_date|date:"d-M-Y"}}</p>
    {% else %}
        <p> <a href="{% url 'post_publish' pk=post.pk %}">Publish</a> </p>
    {% endif %}

    {% if user.is_authenticated %}
        <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'post_update' pk=post.pk %}" class="btn btn-warning" >Update</a>
    {% endif %}
    <hr>
    <p>Comments</p>
    <p> <a href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a></p>
    

    {% for comment in post.comments.all %}
        <hr>
        <p> Comment : {{comment}} by {{comment.author}} </p>
        {% if user.is_authenticated or comment.approved_comment %}
           <p>Created date : {{comment.created_date}}</p>
           {% if comment.approved_comment and user.is_authenticated %}
                <a href="{% url 'remove_comment' pk=comment.pk %}">Remove</a>
           {% endif %}
        {% if not comment.approved_comment %}
            <a href="{% url 'approve_comment' pk=comment.pk %}" class="btn btn-primary">Approve</a>
            <a href="{% url 'remove_comment' pk=comment.pk %}" class="btn btn-danger">Remove</a>
        {% endif %}
        {% endif %}

        {%empty%}
            <p>No comment</p>
    {% endfor %}
   
{% endblock %}

